body {
  background: #ffdce7;
  color: #961e6d;
  width: 100%;
  height: 3000px;
}

body,
h1,
h2,
ul,
li,
dt,
dl,
dd,
p {
  margin: 0px;
  padding: 0px;
}

/*Ajuste na imagem de fundo*/
.fundo-1 {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.fundo-invertido-1 {
  position: absolute;
  inset: 0;
  background-image: url('./img/fundo2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: scaleY(-1);
  /* Inverte o fundo */
  z-index: -1;
  /* coloca o fundo atrás do conteúdo */
}

/* nav */
.menu {
  background-color: #f173a1;
  width: 100%;
  align-self: flex-start;
}

/* Ajuste na ul */
.menu ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: center;
}

/* Ajuste na font do li a */
.menu li a {
  display: block;
  padding: 10px;
  margin-right: 10px;
  color: #fff;
  text-decoration: none;
  font-family: monospace;
  font-weight: bold;
  text-transform: uppercase;
  font-size: .875rem;
  letter-spacing: .1em;
}

/* Decoração */
.menu li a:hover {
  text-decoration: underline;
}

/* Ajuste Título */
.titulo {
  font-family: 'Inspiration';
  font-size: 11rem;
  line-height: 1;
  font-weight: 400;
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}

.b {
  margin-top: 40%;
  text-align: center;
}

/* linhazinha */
.traco {
  background-color: #f173a1;
  height: 10px;
  width: 100%;
  align-self: flex-start;
}

/* Ajuste no tiulozinho */
.subtitulo {
  background-color: #f173a1;
  margin-top: 25px;
  padding: 5px;
  width: 6%;
  align-self: flex-start;
}

.subtitulo h1 {
  text-align: center;
  font-family: 'Quicksand';
  color: #6B0D47;
}

/* Ajuste na imagem */
img {
  width: 260px;
  padding-bottom: 15px;
  display: block;
  cursor: pointer;
}

.barbie {
  position: relative;
  margin-top: 70px;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Adicionando scroll */
.barbie-list {
  height: 350px;
  width: 300px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.barbie-list::-webkit-scrollbar {
  width: 25px;
}

.barbie-list::-webkit-scrollbar-thumb {
  background: #f285c5;
  border-left: #ffdce7;
  border-right: #ffdce7;
}

/* paragrafos */
.filme-descricao section {
  width: 950px;
  margin-left: 15px;
}

/* titulo */
.barbie h2 {
  font-family: monospace;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-bottom: 1.5rem;
  color: #de0093;
}

.barbie h2::before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 12px;
  margin-right: 10px;
  background: #f285c5;
}

/* ano de lançamento */
.ano {
  font-weight: bold;
  font-size: 1.1rem;
  color: #6b0d47;
}

/* paragrafo - font */
.barbie p {
  word-break: break-word;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.1;
  margin-bottom: 1rem;
  font-size: 1.1rem;
}

/*Ajuste na imagem de fundo2*/
.fundo-2 {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.fundo-invertido-2 {
  position: absolute;
  inset: 0;
  background-image: url('./img/fundo1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

/* começo */
.start {
  margin-left: 30px;
  margin-bottom: 50px;
  align-self: flex-start;
}

/* fim */
.end {
  margin-right: 30px;
  align-self: flex-end;
  margin-top: 300px;
}

/* Ajuste no faq */

dl {
  display: grid;
  justify-content: center;
}

.faq-list dt {
  font-size: 1.4rem;
  font-family: monospace;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 2rem;
  margin-bottom: .5rem;
  color: #de0093;
}

.faq-list dt::before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 12px;
  margin-right: 10px;
  background: #c365a3;
  grid-column: 2;
}

.faq-list dd {
  font-size: 1.1rem;
  font-family: Helvetica, arial, sans-serif;
  margin-bottom: .5rem;
  margin-left: 30px;
  width: 700px;
}

/* Ajuste em contato */
.dados {
  display: grid;
  justify-content: center;
  font-family: 'georgia';
  font-weight: bold;
  margin-top: 1.5rem;
  letter-spacing: 0.1rem;
  color: #6B0D47;
  font-size: 0.9rem;
  margin-left: 25px;
}

.dados li {
  padding-bottom: 5px;
  list-style: none;
}

span {
  font-size: 1.2rem;
  font-family: monospace;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 3rem;
  color: #de0093;
}

span::before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 12px;
  margin-right: 10px;
  background: #c365a3;
  grid-column: 2;
}


/* Ajuste no rodapé */
.fundo-3 {
  height: 150px;
  width: 100%;
  background-image: url('./img/fundo4.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

footer {
  height: 0px;
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.copy {
  /* width: 200vh; */
  padding: 15px;
  background-color: #f173a1;
  color: #fff;
  text-decoration: none;
  font-family: monospace;
  font-weight: bold;
  text-transform: uppercase;
  font-size: .875rem;
  letter-spacing: .1em;
}

.copy p {
  text-align: center;
}

/* Responsivo abaixo de 1600px */
@media(max-width: 1600px) {

  .titulo {
    font-family: 'Inspiration';
    font-size: 9rem;
  }

  .start {
    margin-bottom: -50px;
    margin-top: -20px;
  }
}

/* Responsivo abaixo de 1530px */
@media(max-width: 1530px) {
  .subtitulo {
    background: none;
  }

  .subtitulo:hover {
    text-decoration: 2px underline #f173a1;
  }

  .filme-descricao section {
    width: 700px;
  }

  .start {
    margin-left: 30px;
    margin-bottom: 50px;
    align-self: flex-start;
  }

  .end {
    margin-right: 30px;
    margin-top: 250px;
    align-self: flex-end;
  }
}

/* Responsivo abaixo de 1130px */
@media(max-width: 1130px) {

  .filme-descricao section {
    width: 450px;
  }

  .barbie h2 {
    margin-top: 1.8rem;
    font-family: monospace;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-bottom: 1rem;
    color: #de0093;
  }

  .barbie h2::before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 10px;
    margin-right: 10px;
    background: #f285c5;
  }

  .barbie-list {
    height: 480px;
    width: 300px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .faq-list dt {
    font-size: 1.1rem;
    font-family: monospace;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 2rem;
    margin-bottom: .5rem;
    color: #de0093;
  }

  .faq-list dt::before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 12px;
    margin-right: 10px;
    background: #c365a3;
    grid-column: 2;
  }

  .faq-list dd {
    font-size: 1rem;
    font-family: Helvetica, arial, sans-serif;
    margin-bottom: .5rem;
    margin-left: 30px;
    width: 500px;
  }
}

/* Responsivo abaixo de 845px */
@media(max-width: 845px) {
  .filme-descricao section {
    width: 300px;
  }

  .barbie h2 {
    margin-top: 2rem;
    font-family: monospace;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-bottom: 0.5rem;
    color: #de0093;
  }

  .barbie h2::before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 10px;
    margin-right: 10px;
    background: #f285c5;
  }

  .barbie-list {
    height: 680px;
    width: 300px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .titulo {
    font-family: 'Inspiration';
    font-size: 9rem;
    line-height: 1;
    font-weight: 400;
    margin-top: 150px;
    display: flex;
    justify-content: space-around;
  }

  .end {
    margin-bottom: 130px;
  }
}

@media (max-width: 710px) {
  .filme-descricao section {
    width: 200px;
  }

  .barbie-list {
    height: 1050px;
    width: 300px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* Responsivo abaixo de 615px */
@media(max-width: 615px) {
  .titulo {
    font-family: 'Inspiration';
    font-size: 7rem;
    line-height: 1;
    font-weight: 400;
    margin-top: 200px;
    display: flex;
    justify-content: center;
  }

  img {
    width: 150px;
    padding-bottom: 15px;
    display: block;
    cursor: pointer;
  }

  .filme-descricao section {
    width: 100px;
  }

  .barbie-list {
    height: 2100px;
    width: 200px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .barbie-list li {
    list-style: none;
  }

  .start {
    margin-left: 30px;
    margin-bottom: 10px;
    align-self: flex-start;
  }

  .faq-list dt {
    font-size: 0.9rem;
    font-family: monospace;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 1rem;
    margin-bottom: .5rem;
    margin-left: 20px;
    color: #de0093;
  }

  .faq-list dt::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 12px;
    margin-right: 10px;
    background: #c365a3;
    grid-column: 2;
  }

  .faq-list dd {
    font-size: 1rem;
    font-family: Helvetica, arial, sans-serif;
    margin-bottom: .5rem;
    margin-left: 50px;
    width: 300px;
  }

  .dados {
    display: grid;
    justify-content: center;
    font-family: 'georgia';
    font-weight: bold;
    margin-top: 1.5rem;
    letter-spacing: 0.1rem;
    color: #6B0D47;
    font-size: 0.9rem;
    margin-left: 25px;
  }

  .dados li {
    padding-bottom: 5px;
    list-style: none;
  }

  span {
    font-size: 0.9rem;
    font-family: monospace;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 2rem;
    color: #de0093;
  }

  span::before {
    content: '';
    display: inline-block;
    width: 12px;
    height: 10px;
    margin-right: 10px;
    background: #c365a3;
    grid-column: 2;
  }
}

/* Responsivo abaixo de 360px */
@media(max-width: 360px) {
  .titulo {
    font-size: 5rem;
    margin-right: 15px;
  }

  .faq-list dt {
    font-size: 0.9rem;
    width: 90px;
  }

  .faq-list dt::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 12px;
    margin-right: 10px;
    background: #c365a3;
    grid-column: 2;
  }

  .faq-list dd {
    font-size: 1rem;
    font-family: Helvetica, arial, sans-serif;
    margin-bottom: .5rem;
    margin-left: 20px;
    width: 120px;
  }
}

/* JavaScript */
.js-tabcontent section {
  display: none;
}

.js-tabcontent section.ativo {
  display: block !important;
  animation: show .5s forwards;
  /* forwards signfica que a cada animação ela volte para o estado de to, se não colocar ela vai retornar para o estado de from.*/
}

@keyframes show {
  from {
    opacity: 0;
    /* Transform3d tem tres itens dentro dos parenteses, no caso x,y,z  */
    transform: matrix3d(-30px, 0, 0);
  }

  to {
    opacity: 1;
    transform: matrix3d(0, 0, 0);
  }
}

.audiozinho {
  font-family: monospace;
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: .1rem;
  color: #de0093;
}

audio {
  height: 35px;
  width: 50%;
}

audio::-webkit-media-controls-panel {
  background-color: #ffdce7
}